.restart {
	margin: 1em 0.5em;
	font-size: 2em;
}

.restart:hover .restart-icon {
	transition: 1s;
	transform: rotate(360deg);
}

.restart-icon {
	width: 1em;
	height: 1em;
	cursor: pointer;
	vertical-align: top;
}

.restart-text {
	padding-left: 0.5em;
	letter-spacing: 2px;
	color: #fff;
	font-family: "Bangers";
}

@media (max-width: 480px) {
	.restart {
		font-size: 1.5em;
	}

	.restart-icon {
		width: 0.75em;
		height: 0.75em;
	}
}