dialog {
	width: 90%;
	max-width: 500px;
	padding: 1em 2em;
	transition: opacity 600ms ease;
	text-align: center;
	color: #333;
	border: solid 1px lightgrey;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

	h2 {
		margin-bottom: 1em;
		text-align: center;
		color: $yellow;
		text-shadow: 3px 3px 0 $yellow-5,
		-1px -1px 0 $yellow-5,
		1px -1px 0 $yellow-5,
		-1px 1px 0 $yellow-5,
		1px 1px 0 $yellow-5;
		font-family: "Bangers";
		font-size: 2em;

		-webkit-text-stroke: 1px $yellow-5;
	}

	h3 {
		text-align: center;
	}

	p {
		margin: 1em 0;
		text-align: center;
	}

	.buttons {
		display: flex;
		width: 100%;
	}

	.buttons button:not(:last-child) {
		margin-right: auto;
	}
}

dialog::backdrop,
dialog + .backdrop {
	opacity: 0.4;
	background-color: $yellow-3;
}