.stars {
	svg {
		position: relative;
		z-index: 10;
	}
}

.stars-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	list-style: none;
}

.star {
	padding: 0 0.25em;
	svg {
		overflow: visible;
	}
}

.star-icon {
	width: 35px;
	height: 35px;
}

@media (max-width: 768px) {
	.star {
		padding: 0 0.2em;
	}
	.star-icon {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 480px) {
	.star {
		padding: 0 0.1em;
	}
	.star-icon {
		width: 20px;
		height: 20px;
	}
}

.inactive {
	.icon-drops {
		fill-opacity: 0;
	}

	.icon-fill {
		transition: 2s cubic-bezier(0.1, -0.08, 0.21, -0.6);
		transform: translateY(800px) rotate(210deg);

		fill-opacity: 0;
	}
}
